@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(240 5.9% 90%);
    --input: hsl(240 5.9% 90%);
    --ring: hsl(240 10% 3.9%);
    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(34, 76%, 61%);
    --chart-3: hsl(56, 76%, 61%);
    --chart-4: hsl(78, 76%, 61%);
    --chart-5: hsl(100, 76%, 61%);
    --chart-6: hsl(122, 76%, 61%);
    --chart-7: hsl(144, 76%, 61%);
    --chart-8: hsl(166, 76%, 61%);
    --chart-9: hsl(188, 76%, 61%);
    --chart-10: hsl(210, 76%, 61%);
    --chart-11: hsl(232, 76%, 61%);
    --chart-12: hsl(254, 76%, 61%);
    --chart-13: hsl(276, 76%, 61%);
    --chart-14: hsl(298, 76%, 61%);
    --chart-15: hsl(320, 76%, 61%);
    --chart-16: hsl(342, 76%, 61%);
    --chart-mono-1: hsl(214, 93%, 53.3%);
    --chart-mono-2: hsl(214, 93%, 55.6%);
    --chart-mono-3: hsl(214, 93%, 57.8%);
    --chart-mono-4: hsl(214, 93%, 60%);
    --chart-mono-5: hsl(214, 93%, 62.3%);
    --chart-mono-6: hsl(214, 93%, 64.5%);
    --chart-mono-7: hsl(214, 93%, 66.8%);
    --chart-mono-8: hsl(214, 93%, 69%);
    --chart-mono-9: hsl(214, 93%, 71.3%);
    --chart-mono-10: hsl(214, 93%, 73.5%);
    --chart-mono-11: hsl(214, 93%, 75.8%);
    --chart-mono-12: hsl(214, 93%, 78%);
    --chart-mono-13: hsl(214, 93%, 80.3%);
    --chart-mono-14: hsl(214, 93%, 82.5%);
    --chart-mono-15: hsl(214, 93%, 84.8%);
    --chart-mono-16: hsl(214, 93%, 87%);
    --radius: 0.6rem;
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

.dark {
    --background: hsl(240 10% 3.9%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(240 10% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(240 10% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(240 5.9% 10%);
    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);
    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(240 4.9% 83.9%);
    --chart-1: hsl(12, 70%, 50%);
    --chart-2: hsl(34, 70%, 50%);
    --chart-3: hsl(56, 70%, 50%);
    --chart-4: hsl(78, 70%, 50%);
    --chart-5: hsl(100, 70%, 50%);
    --chart-6: hsl(122, 70%, 50%);
    --chart-7: hsl(144, 70%, 50%);
    --chart-8: hsl(166, 70%, 50%);
    --chart-9: hsl(188, 70%, 50%);
    --chart-10: hsl(210, 70%, 50%);
    --chart-11: hsl(232, 70%, 50%);
    --chart-12: hsl(254, 70%, 50%);
    --chart-13: hsl(276, 70%, 50%);
    --chart-14: hsl(298, 70%, 50%);
    --chart-15: hsl(320, 70%, 50%);
    --chart-16: hsl(342, 70%, 50%);
    --chart-mono-1: hsl(212, 95%, 40%);
    --chart-mono-2: hsl(212, 95%, 43.3%);
    --chart-mono-3: hsl(212, 95%, 46.7%);
    --chart-mono-4: hsl(212, 95%, 50%);
    --chart-mono-5: hsl(212, 95%, 53.3%);
    --chart-mono-6: hsl(212, 95%, 56.7%);
    --chart-mono-7: hsl(212, 95%, 60%);
    --chart-mono-8: hsl(212, 95%, 63.3%);
    --chart-mono-9: hsl(212, 95%, 66.7%);
    --chart-mono-10: hsl(212, 95%, 70%);
    --chart-mono-11: hsl(212, 95%, 73.3%);
    --chart-mono-12: hsl(212, 95%, 76.7%);
    --chart-mono-13: hsl(212, 95%, 80%);
    --chart-mono-14: hsl(212, 95%, 83.3%);
    --chart-mono-15: hsl(212, 95%, 86.7%);
    --chart-mono-16: hsl(212, 95%, 90%);
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

